/*
Name: main.css
Purpose: Additional Styles required for the main page of the Oberwald theme
Version: 20080707
*/
#main-sub {
	float:left;
	width:700px;
}
#main-sub hr {
	height: 10px;
	color:#fff;
	border:none;
}
#main-sub div div {
	border: 1px solid #aaa;
	margin-bottom: 10px;
	background:#ddd;
	padding: 5px;
	background: #ddd url(images/bg_detail.gif) top repeat-y;
}
#main-sub div div h2, #fragments h2 {
	text-align: left;
	font-size: 1.4em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	text-indent: 24px;
	background: url(images/ball.gif) no-repeat 2px 1px;
}
#main-sub div div ul {
	margin: 0.4em 0 0.6em 0;
	padding: 0 0.6em 0 15px;
	list-style-position: inside;
}
#main-left {
	float:left;
	width: 220px;
}
#main-middle {
	float:left;
	width: 235px;
	margin-left: 10px;
}
#main-right {
	float:left;
	width: 220px;
	margin-left: 10px;
}
/*** tab styling ***/

#main-tabs {
	width: 700px;
	margin-bottom: 10px;
	display:block;
}
#fragments {
	background: #ddd url(images/bg_detail.gif) top repeat-y;
	float:left;
	width:550px;
	padding:10px;
	height: 250px;
	border: 1px solid #aaa;
}
#main-tabs #main-tabs-links {
	background-color: #036;
	float:right;
	width:125px;
	padding: 0;
	margin: 0;
	list-style-type: none;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	list-style-position: outside;
}
#main-tabs-links li a {
	background: #548ac3 url(images/bg_nav.jpg) bottom repeat-x;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	color: #accae6;
	display: block;
	padding: 10px 0 10px 8px;
	text-decoration: none; 
	height: 1%;
}
#main-tabs-links li.ui-tabs-selected a, #main-tabs-links li a:hover, #main-tabs-links li a:focus { 
	background: #244f91 url(images/bg_nav_hover.jpg) top repeat-x;
	color: #fff;
}

.ui-tabs-hide { display: none; }
#twitterfeed {
	width:726px;
	border: 1px solid #000;
	color: #fff;
	background-color: #333;
	height: 40px;
	margin: -1em -1em 1em -1em;
}
.newsticker {
	list-style-type: none;
	padding: 3px;
	margin: 0;
}