/*
Description: Print Styles for the Oberwald theme
Version: 20090828
*/
#tagline, form, #navcontainer, #subcontent, #breadcrumb, div.dykcontainer { {
	 display: none !important;
}
/***** Layout and positioning *****/
html * {
	margin:0;
	padding:0;
}
body {
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 0.7em;
	color: #333;
}
#wrapper, #main-wrapper {
	width:auto;
	margin: 10px;
	text-align: left;
	background-color: #fefefe;
}
#header {
	margin-bottom: 10px;
}
/***** Main Content *****/
#maincontent {
	padding: 1em 1em 0 1em;
	text-align: justify;
	float: left;
	line-height: 160%;
}
#maincontent p, #maincontent h2, #maincontent h3, #maincontent h4, #maincontent table {
	margin-bottom: 0.6em;
}
#maincontent ul, #maincontent ol {
	line-height: 160%;
	margin: 0.4em 0 0.6em 1.5em;
	padding: 0 0.6em 0 1em;
	list-style-position: inside;
}
#maincontent ul {
	list-style: square;
}
#maincontent h2, #maincontent h3, #maincontent h4, #maincontent h5 {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	text-align: left;	
}
#maincontent h3, #maincontent h4, #maincontent h5 {
	padding-top: 0.6em;
}
#maincontent h2 {
	font-weight: bold;
	font-size: 1.8em;
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
}
#maincontent h3 {
	font-size: 1.4em;
	padding-bottom: 0.2em;
}
#maincontent h4 {
	font-size: 1.2em;	
}
#maincontent h5 {
	font-size: 1.1em;	
}
.postmeta {
	text-align: right;
	padding-bottom: 20px;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #454C67;
	clear: both;
}
.postdate {
	text-indent: 20px;
	font-size:smaller;
	margin-top:-10px;
}
.subtext {
	font-size:larger;
	font-weight:bold;
}
.details {
	padding: 3px;
	border: 1px solid #aaa;
	margin-bottom: 0.6em;	
}
/***** Sub Content (Sidebar) *****/
/***** Footer *****/
#footer {
	clear:both;
	font-size: 85%;
	padding: 0.2em 0 0.2em 1em;
	height: 50px;
}
/***** General Styles *****/
a, a:link, a:visited {
	color: #3366FF;
}

a:hover, a:active {
	color: #D7651B;
}
.info {
	border:1px solid #6B9CF4;
	margin: 4px 0;
	margin-left:2px;
	padding: 4px;
	padding-left: 30px;
	font-family: Verdana;
	background: #AAD5FF url(images/information.gif) 7px 50% no-repeat;	
}
.info p {
	padding-top:4px;
	margin-bottom:4px;
}
.warning {
	border: 1px solid #FF0B0B;
	padding: 0.6em 1em 0 2.3em;
	background: #FF9595 url(../images/exclamation.gif) 4px 50% no-repeat;
	margin-bottom: 0.6em;
}
blockquote {
	margin: 15px 30px 0 0;
	padding-left: 15px;
	border-left: 4px solid #548ac3;
}
blockquote cite {
	margin: 5px 0 0;
	display: block;
}
img, img a {
	border:none;
}
/* wp default image styles */
img.alignleft {
	float:left;
	padding-right: 10px;
	padding-bottom: 10px;
}
img.alignright {
	float:right;
	padding-left: 10px;
	padding-bottom: 10px;
}
/***** Tables *********/
table {
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border: 1px solid #000;
	border-collapse: collapse;
}
table th {
	border-bottom: 4px solid #000;
	background-color: #548ac3;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

table tr.tbl_alt {
	background-color: #ddd;
}

table td {
	text-align: center;
	border-left-style: dotted;
	border-bottom-style: solid;
	border-color: #000;
	border-width: 1px;
	padding: 0.3em;
}

table caption {
	width: 100%;
	margin: 1em 0 0.5em;
	font-size: 1.2em;
	font-family: Georgia, Arial, "Times New Roman";
	font-weight: bold;
	text-align: center;
}

td.td_title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	background-color: #ffffaa;
}
th.totaux {
	border-bottom: 1px solid #000000;
}
th.tbl_matchname {
	width: 280px;
}
th.tbl_matchdate {
	width: 50px;
}
th.tbl_matchgate {
	width: 40px;
}
th.tbl_matchresult {
	width: 80px;
}
th.tbl_matchop {
	width: 50%;
}
th.tbl_stat {
	width: 5%;
}
th.tbl_name {
	width: 30%;
}
td.score {
	font-size: 2em;
}
.tbl_skills {
	text-align:left;
	font-size: smaller;
}
/***** Comments *********/
/* Comments */
.commentlist {
	border-top:1px solid #136284;
	list-style: none;
}
.commentlist cite {
	font-weight: bold;
}
.commentlist li {
	border-bottom:1px solid #136284;
	margin-left:-10px;
	padding:3px 5px;
}
.commentmeta {
	border-bottom:1px solid #ddd;
}
.commenttime {
	border-top:1px solid #ddd;
}
.comment_alt {
	background-color: #eee;
}	